.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(yellow, green);
}

.calculator {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  border-radius: 10px;
  background-color: rgb(168, 168, 168);
  box-shadow: 0px 20px 40px 10px rgba(88, 88, 88, 0.363);
  transform: perspective(70rem) rotateX(30deg);
  animation: flipIn 0.8s ease-out forwards;
}
@keyframes flipIn {
  from {
    transform: perspective(10rem) rotateX(40deg);
  }
  to {
    transform: perspective(70rem) rotateX(30deg);
  }
}

.display {
  font-size: large;
  font-weight: bold;
  grid-column: span 4; /* Make the display span four columns */
  text-align: right;
  background-color: lightgreen;
  box-shadow: 0px 4px 4px 1px rgba(94, 94, 94, 0.842);
  padding: 15px 10px;
}
button {
  font-weight: bold;
  border-radius: 5px;
  background-color: yellow;
  padding: 10px 20px;
  box-shadow: 0px 4px 4px 1px rgba(94, 94, 94, 0.842);
  border: 0;
}
button:hover {
  background-color: yellowgreen;
}
button:active {
  transform: scale(0.9);
  transition: transform 0.15s ease, box-shadow 0.15s ease;
}
#equals {
  grid-column: span 2; /* Make the = button span two columns */
}
